html {
  font-size: 100%;

  @media (max-width:420px) {
    font-size: 70%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: #d6d9e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}